########################################
#                                      #
#           GENERATE BY ME             #
#                                      #
########################################
.env

########################################
#                                      #
#         GENERATE BY QUASAR           #
#                                      #
########################################
front-quasar/.DS_Store
front-quasar/.thumbs.db
front-quasar/node_modules
# Quasar core related directories
front-quasar/.quasar
front-quasar//dist
front-quasar//quasar.config.*.temporary.compiled*
# Cordova related directories and files
front-quasar//src-cordova/node_modules
front-quasar//src-cordova/platforms
front-quasar//src-cordova/plugins
front-quasar//src-cordova/www
# Capacitor related directories and files
front-quasar//src-capacitor/www
front-quasar//src-capacitor/node_modules
# Log files
front-quasar/npm-debug.log*
front-quasar/yarn-debug.log*
front-quasar/yarn-error.log*
# Editor directories and files
front-quasar/.idea
*.suo
*.ntvs*
*.njsproj
*.sln