########################################
#                                      #
#           GENERATE BY ME             #
#                                      #
########################################
.env

########################################
#                                      #
#         GENERATE BY QUASAR           #
#                                      #
########################################
front-quasar/.DS_Store
front-quasar/.thumbs.db
front-quasar/node_modules
# Quasar core related directories
front-quasar/.quasar
front-quasar//dist
front-quasar//quasar.config.*.temporary.compiled*
# Cordova related directories and files
front-quasar//src-cordova/node_modules
front-quasar//src-cordova/platforms
front-quasar//src-cordova/plugins
front-quasar//src-cordova/www
# Capacitor related directories and files
front-quasar//src-capacitor/www
front-quasar//src-capacitor/node_modules
# Log files
front-quasar/npm-debug.log*
front-quasar/yarn-debug.log*
front-quasar/yarn-error.log*
# Editor directories and files
front-quasar/.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Back-individuel
back-individuel/node_modules
back-individuel/.env
back-individuel/logs
back-individuel/*.log
back-individuel/npm-debug.log*
back-individuel/yarn-debug.log*
back-individuel/yarn-error.log*
back-individuel/pnpm-debug.log*
back-individuel/lerna-debug.log*
back-individuel/node_modules
back-individuel/.DS_Store
back-individuel/dist
back-individuel/dist-ssr
back-individuel/coverage
back-individuel/*.local
back-individuel//cypress/videos/
back-individuel//cypress/screenshots/
back-individuel/.vscode/*
back-individuel/!.vscode/extensions.json
back-individuel/.idea
back-individuel/*.suo
back-individuel/*.ntvs*
back-individuel/*.njsproj
back-individuel/*.sln
back-individuel/*.sw?
back-individuel/*.tsbuildinfo
back-individuel/dev-dist
back-individuel/dev-dist/*