<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="/public/assets/ico.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/ico.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/ico.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/ico.ico">
    <link rel="icon" type="image/ico" href="/public/assets/ico.ico">

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6849954b368f6c190bdd50da/1itfmuc9h';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
